{% extends "base.html" %}
{% load humanize %}
{% load url from future %}

{% block content %}

<div class="row">
	<div class="twelve columns">
		<!--<span id="top-cream-bar" >
			
		</span>-->
                
<div id="info-box">
    <div class="textHead">Galapagos Comparison</div>
    <div class="textPHead">Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
              volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
              suscipit senectus blandit facilisi, phasellus fringilla. Dictum, fringilla torquent litora. Nulla velit.
              Vel mus. Accumsan tincidunt molestie Ridiculus consectetuer lacinia fringilla lectus mattis at nisl fames Ad.
              Aenean fames ultricies malesuada duis.

              Neque facilisis malesuada placerat interdum. Pede tellus augue faucibus. Montes duis netus diam torquent aliquet
              nulla. Donec tortor pharetra consectetuer curae; ac ultricies sagittis sagittis duis dolor sapien parturient justo
              vehicula lacus conubia diam praesent fusce ridiculus ultrices accumsan primis condimentum magnis molestie proin
              facilisi euismod potenti, in dignissim dictum, nonummy pretium. Nisi ornare senectus nam ultricies mattis mauris mi.
              Mus. In. Dui porttitor mauris lectus laoreet aenean class semper phasellus adipiscing.
    </div>
    <select id="selectState">
        <option id="default">--SELECT--</option>
        {% for i in states %}
            <option id="{{i.pk}}">{{i.name}}</option>
        {% endfor %}
    </select>
    
    
</div>

<ul class="accordion">
    
        <li class="active">
            <div class="title">
                <span class="textHeadAccordion">Weather</span>
            </div>
            <div class="content">
              <div class="textP">Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
              volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
              suscipit senectus blandit facilisi, phasellus fringilla. Dictum, fringilla torquent litora. Nulla velit.
              Vel mus. Accumsan tincidunt molestie Ridiculus consectetuer lacinia fringilla lectus mattis at nisl fames Ad.
              Aenean fames ultricies malesuada duis.</div>
        
        <!--split column for info display -->      
        <div class="row">
            <div class="six columns">
                
                <div id="state-name" class="textHeadLoc"></div>
                    <div id="state-weather" class="textP">
                        <h4>Rainfall</h4>
                            <span id="state-rainfall"></span>
                        <h4>Temperature</h4>
                        
                        <h4>Humidity</h4>
                      
                       
                    </div>
             
            </div>
            
            <div class="six columns">
                {% for specificGalapagos in galapagos %}
                <div class="textHeadLoc">{{specificGalapagos.name}}</div>
                    <div class="textP">
                        <h4>Rainfall</h4>
                        {{specificGalapagos.rainfall}}
                        {{specificGalapagos.rainfall_text}}
                        <h4>Temperature</h4>
                        {{specificGalapagos.temperature}}
                        {{specificGalapagos.temperature_text}}
                        <h4>Humidity</h4>
                        {{specificGalapagos.humidity}}
                        {{specificGalapagos.humidity_text}}
                    </div>
                {% endfor %}
            </div>
        </div> <!-- end split column row -->
              
           </div>
        </li>
         <li>
            <div class="title">
                <span class="textHeadAccordion">Biodiversity</span>
            </div>
            <div class="content">
              <div class="textP">Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
              volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
              suscipit senectus blandit facilisi, phasellus fringilla. Dictum, fringilla torquent litora. Nulla velit.
              Vel mus. Accumsan tincidunt molestie Ridiculus consectetuer lacinia fringilla lectus mattis at nisl fames Ad.
              Aenean fames ultricies malesuada duis.</div>
              
        <!--split column for info display -->      
        <div class="row">
            <div class="six columns">
                
                <div id="state-name" class="textHeadLoc"></div>
                    <div class="textP">
                        <h4>Protected Land</h4>
                        
                        <h4>Birds in Region</h4>
                          
                    </div>
            
            </div>
            <div class="six columns">
                {% for specificGalapagos in galapagos %}
                <div class="textHeadLoc">{{specificGalapagos.name}}</div>
                    <div class="textP">
                        <h4>Protected Land</h4>
                        {{specificGalapagos.protected_land_image}}
                        {{specificGalapagos.protected_land_percentage}}
                        <h4>Birds in Region</h4>
                        {{specificGalapagos.birds_in_region}} 
                    </div>
                {% endfor %}
            </div>
        </div> <!-- end split column row -->
              
           </div>
        </li>
          <li>

            <div class="title">
                <span class="textHeadAccordion">Economics</span>
            </div>
            <div class="content">
              <div class="textP">Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
              volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
              suscipit senectus blandit facilisi, phasellus fringilla. Dictum, fringilla torquent litora. Nulla velit.
              Vel mus. Accumsan tincidunt molestie Ridiculus consectetuer lacinia fringilla lectus mattis at nisl fames Ad.
              Aenean fames ultricies malesuada duis.</div>
              
        <!--split column for info display -->      
        <div class="row">
            <div class="six columns">
                
                <div id="state-name" class="textHeadLoc"></div>
                    <div class="textP">
                        <h4>Revenue</h4>
                       
                        <h4>Income</h4>
                        
                        <h4>Industry</h4>
                        
                    </div>
         
            </div>
            <div class="six columns">
                {% for specificGalapagos in galapagos %}
                <div class="textHeadLoc">{{specificGalapagos.name}}</div>
                    <div class="textP">
                        <h4>Revenue</h4>
                        {{specificGalapagos.revenue}}
                        <h4>Income</h4>
                        {{specificGalapagos.income}}
                        {{specificGalapagos.income_text}}
                        <h4>Industry</h4>
                        {{specificGalapagos.industry}}
                    </div>
                {% endfor %}
            </div>
        </div> <!-- end split column row -->
              
           </div>
        </li>
          
          <li>

            <div class="title">
                <span class="textHeadAccordion">Education</span>
            </div>
            <div class="content">
              <div class="textP">Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
              volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
              suscipit senectus blandit facilisi, phasellus fringilla. Dictum, fringilla torquent litora. Nulla velit.
              Vel mus. Accumsan tincidunt molestie Ridiculus consectetuer lacinia fringilla lectus mattis at nisl fames Ad.
              Aenean fames ultricies malesuada duis.</div>
              
        <!--split column for info display -->      
        <div class="row">
            <div class="six columns">
                
                <div id="state-name" class="textHeadLoc"></div>
                    <div class="textP">
                        <h4>Student/Teacher Ratio</h4>
                       <span id="state-teacher-image"></span>
                        
                        <div id="images"></div>
                        
                        <script>
                        // studentNum=(parseFloat('{{specificState.student_teacher_ratio}}'));
                        
                        // var studentImg=document.getElementById('images'),
                        //     imagePath = '{{ STATIC_URL }}images/greenPerson.png',
                        //     img;
                            
                        // for (var i=0; i<studentNum; i++){
                        //     img = new Image();
                        //     img.src = imagePath;
                        //     studentImg.appendChild(img);
                        //     //document.write(img);
                        // }
                        </script>
                        
                       
                    </div>
               
            </div>
            <div class="six columns">
                {% for specificGalapagos in galapagos %}
                <div class="textHeadLoc">{{specificGalapagos.name}}</div>
                    <div class="textP">
                        <h4>Student/Teacher Ratio</h4>
                        <img src="{{specificGalapagos.teacher}}" width="100"/>
                        
                        <div id="imagesB"></div>
                        
                        <script>
                        studentNumB=(parseFloat('{{specificGalapagos.student_teacher_ratio}}'));
                        
                        var studentImgB=document.getElementById('imagesB'),
                            imagePath = '{{ STATIC_URL }}images/greenPerson.png',
                            img;
                            
                        for (var i=0;i<studentNumB; i++){
                            img = new Image();
                            img.src = imagePath;
                            studentImgB.appendChild(img);
                            //document.write(studentImg);
                        }
                        </script>
                        
                        
                        <img src="{{specificGalapagos.student_teacher_ratio}}" width="100"/>
                        <h4>Teacher Salary</h4>
                        {{specificGalapagos.teacher_salary}}
                        <h4>Literacy Rate</h4>
                        {{specificGalapagos.literacy_rate}}
                        {{specificGalapagos.literacy_rate_text}}
                    </div>
                {% endfor %}
            </div>
        </div> <!-- end split column row -->
              
           </div>
        </li>
          
          <li>

            <div class="title">
                <span class="textHeadAccordion">Health</span>
            </div>
            <div class="content">
              <div class="textP">Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
              volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
              suscipit senectus blandit facilisi, phasellus fringilla. Dictum, fringilla torquent litora. Nulla velit.
              Vel mus. Accumsan tincidunt molestie Ridiculus consectetuer lacinia fringilla lectus mattis at nisl fames Ad.
              Aenean fames ultricies malesuada duis.</div>
              
        <!--split column for info display -->      
        <div class="row">
            <div class="six columns">
              
                <div id="state-name" class="textHeadLoc"></div>
                    <div class="textP">
                        
                        <h4>Percent of Budget Allocated</h4>
                        <!-- {{specificState.percent_of_budget_allocated}} -->
                        <!-- {{specificState.percent_of_budget_allocated_text}} -->
                    </div>
                
            </div>
            <div class="six columns">
                {% for specificGalapagos in galapagos %}
                <div class="textHeadLoc">{{specificGalapagos.name}}</div>
                    <div class="textP">
                        
                        <h4>Percent of Budget Allocated</h4>
                        {{specificGalapagos.percent_of_budget_allocated}}
                        {{specificGalapagos.percent_of_budget_allocated_text}}
                    </div>
                {% endfor %}
            </div>
        </div> <!-- end split column row -->
              
           </div>
        </li>
          
          <li>

            
        </li>
          
         </ul>

    </div>
</div>

                        
{% endblock %}