{% extends "base.html" %}
{% load humanize %}
{% load url from future %}

{% block content %}

<div class="row">
	<div class="twelve columns">
		<!--<span id="top-cream-bar" >
			
		</span>-->
                
<div id="info-box">
    <div class="textHead">Galapagos Comparison</div>
    <div class="textPHead">Located in the Pacific Ocean off the coast of Ecuador, the Galapagos Islands is known for its
    rich biodiversity that inspired Charles Darwin's theory of evolution.  The volcanic archipelago consists of 18 main
    islands and is one of the few places on Earth that has remained largely untouched by human inhabitants, as 97% is national park. 
	<br /><br />
    Curious to how the Galapagos compares to your state?  Simply select your state from the drop-down menu below and see how the
    Galapagos stacks up with regard to biodiversity, economics, education, weather and health. 
    
    <select class="selectState">
        <option id="default">-- SELECT YOUR STATE --</option>
        {% for i in states %}
            <option id="{{i.pk}}">{{i.name}}</option>
        {% endfor %}
    </select>
    </div>
    
</div>

<ul class="accordion">
    
        <li class="active">
            <div class="title">
                <span class="iconSpace"><img src="{{STATIC_URL}}/images/sun.png" height="38px" width="38px"/></span><span class="textHeadAccordion">Weather</span>
            </div>
            <div class="content">
              <div class="textP">While the Galapagos is located on the Equator, the Humboldt Current carries cooler water to
	      the islands, translating to a moist, often rainy, climate.  In addition to frequent rain and high humidity, the
	      Galapagos is often affected by El Nino events, which occur every 3-7 years and are associated with warm water
	      temperatures, a depletion of nutrients in the water and a rise in the sea level.  For most years, the cooler season,
	      which is referred to as garua, runs from June to November, while the warm season stretches from December to May.
	      Because the islands vary in altitude, location and terrain, the weather varies as well. 
		<br /><br />
              Similarly, because the United States has such varied landscapes and regions, the climate and weather varies substantially.
	      While certain states frequently receive snow and rain, others are characterized by extensive dry seasons and excessive heat.</div>
        
        <!--split column for info display -->      
        <div class="row">
            <div class="six columns">
                
                <div id="state-name" class="textHeadLoc"></div>
                    <div id="state-weather" class="textP">
                        <h4>Average Rainfall Per Year</h4>
                            <span class ="textItems"><span id="state-rainfall"></span>" </span><span id="state-rainfall_text" ></span>
                        <h4>Average Temperature</h4>
			    <span class ="textItems"><span id="state-temperature"></span>&deg;F</span>               
                        <h4>Average Humidity Level</h4>
			    <span class ="textItems"><span id="state-humidity"></span>%</span>
                    </div>
             
            </div>
            
            <div class="six columns">
                {% for specificGalapagos in galapagos %}
                <div class="textHeadLoc">{{specificGalapagos.name}}</div>
                    <div class="textP">
                        <h4>Average Rainfall Per Year</h4>
                        
                        <span class ="textItems">{{specificGalapagos.rainfall}}" <img src="{{specificGalapagos.rainfall_text}}" width="90px"/></span>
                        <h4>Average Temperature</h4>
                        <span class ="textItems">{{specificGalapagos.temperature}}&deg;F</span> 
                        <h4>Average Humidity Level</h4>
                        <span class ="textItems">{{specificGalapagos.humidity}}%</span>
                    </div>
                {% endfor %}
            </div>
        </div> <!-- end split column row -->
              
           </div>
        </li>
         <li>
            <div class="title">
                <span class="iconSpace"><img src="{{STATIC_URL}}/images/leaf.png" height="38px" width="38px"/></span><span class="textHeadAccordion">Biodiversity</span>
            </div>
            <div class="content">
              <div class="textP">Lauded for being a "natural laboratory", the Galapagos Islands is home to some of the highest
	      levels of endemism in the world.  80% of land birds, 97% of reptiles and land mammals, 20% of marine species,
	      and more than 30% of plants found on the islands are endemic and are considered some of the most valuable assets
	      of the islands.  However, due to exponential growth of residents, vehicles and ships, the Ecuadorian Government
	      issued Presidential Decree N 270 in April 2007, declaring that the Galapagos Archipelago is at risk and its conservation
	      is a national priority.  The Galapagos Report of 2009-2010 reiterated the government's sentiment, concluding: 
		<br /><br />
              "Galapagos is not a paradise separate from the rest of the world.  It is a constellation of very fragile ecosystems
	      that now requires special care and attention to ensure that the forces of globalization do not overcome its capacity
	      to assimilate, adapt, and recuperate from natural and human-made disturbances." (Tapia, et. al, p.12)
		<br /><br />
              The United States, on the other hand, only has 27.08% of its land marked as nationally protected area.  Despite the
	      disparity in percentages, the United States also faces conservation issues.  In fact, the Nature Conservancy concluded
	      that in one of every four states, more than 10% of native species are at risk. </div>
              
        <!--split column for info display -->      
        <div class="row">
            <div class="six columns">
                
                <div id="state-name" class="textHeadLoc"></div>
                    <div class="textP">
                        <h4>Protected Land</h4>
			<span id="state-protected_land_image"></span>
            <div id="state-protected-percentage" class="birdNum"></div>


                        <h4>Birds in Region</h4>
                        <div id="state-birds_in_region" class="nest birdNum"></div>

                        <span id="state-birds_in_region_text"></span>
			  <div class="textP" style="font-size:.8em; line-height:1.1.em;">*The number of bird species in a specific region 
			  has been deemed a useful measure of biodiversity.  The variation across the states can be attributed to the findings 
			  from the 2011 State of the Birds report, which outlined 11 habitats for more than 800 bird species in the continental 
			  U.S., Hawaii and U.S. oceans.  The habitats include the following: aridlands, grasslands, forests, arctic & alpine, wetlands, 
			  coasts, oceans, Hawaii, other islands, urban and upland game.  The number of birds per state correlates with the number of birds 
			  in the habitat in which the majority of the state’s land falls.  </div>

                    </div>
            
            </div>
            <div class="six columns">
                {% for specificGalapagos in galapagos %}
                <div class="textHeadLoc">{{specificGalapagos.name}}</div>
                    <div class="textP">
                        <h4>Protected Land</h4>
                        
                        <span class="graphSpace"></span><img src="{{specificGalapagos.protected_land_image}}" width="70%"/><div class ="birdNum">{{specificGalapagos.protected_land_percentage}}%</div>
                        <h4>Birds in Region</h4>
                        <div class="nest birdNum ">{{specificGalapagos.birds_in_region}}</div>
                    </div>
                {% endfor %}
            </div>
        </div> <!-- end split column row -->
              
           </div>
        </li>
          <li>

            <div class="title">
                <span class="spacer"><img src="{{STATIC_URL}}/images/dollar.png" width="25px" /></span><span class="textHeadAccordion">Economics</span>
            </div>
            <div class="content">
              <div class="textP">As it becomes an increasingly popular vacation destination, the Galapagos relies heavily on
	      tourism, which comprises 53% of its revenue.  Many of the most successful residents are those who own souvenir
	      shops close to the shore near cruise ship docks and the Charles Darwin Research Station.  In a survey conducted
	      by the Charles Darwin Foundation in 2009 of 100 business owners in Puerto Ayora - the largest city in the Galapagos -
	      the general consensus was made that employers would rather hire employees from the mainland rather than individuals
	      native to the Galapagos because "local workers charge more and don't work well."  (Villarreal & Grenier, p. 115).
	      In general, researchers and academics alike have concluded that the Galapagos economy still has much room for improvement
	      and growth.  As one researcher articulates: 
		<br /><br />
              "There appears to be no integration of the industry, its employees, and its economic trajectory into a long - term
	      vision that values sustainable and island-appropriate development." (Villarreal & Grenier, pg. 120)
		<br /><br />
              While the Galapagos relies almost entirely on one industry to generate revenues and jobs for its residents, the United
	      States offers more variety, generating significant revenues from numerous industries, including finance, insurance,
	      real estate, retail trade, educational services and manufacturing.  The United States also generates significantly
	      larger revenues than the Galapagos and boasts a higher median household income. </div>
              
        <!--split column for info display -->      
        <div class="row">
            <div class="six columns">
                
                <div id="state-name" class="textHeadLoc"></div>
                    <div class="textP">
                        <h4>Revenue</h4>
				<span class ="textItems">$<span id="state-revenue"></span></span>
                        <h4>Average Household Income</h4>
				<span class ="textItems">$<span id="state-income"></span>
				<span id="state-income_text"></span></span>
                        <h4>Industry Breakdown</h4>
				<img src="{{ STATIC_URL }}images/galapagosGraphs/statesLegend.png" />
				<span id="state-industry"></span>
                    </div>
         
            </div>
            <div class="six columns">
                {% for specificGalapagos in galapagos %}
                <div class="textHeadLoc">{{specificGalapagos.name}}</div>
                    <div class="textP">
                        <h4>Revenue</h4>
                        <span class ="textItems">${{specificGalapagos.revenue}}</span>
                        <h4>Average Household Income</h4>
                        <span class ="textItems">${{specificGalapagos.income}}
                        <img src="{{specificGalapagos.income_text}}" width="60px" /></span>
                        <h4>Industry Breakdown</h4>
			            <!--<img src="{{ STATIC_URL }}images/galpLegend/transport.png" /><br />
				    <img src="{{ STATIC_URL }}images/galpLegend/vehicle.png" /><br />
				    <img src="{{ STATIC_URL }}images/galpLegend/agriculture.png" /><br />
				    <img src="{{ STATIC_URL }}images/galpLegend/public.png" /><br />
				    <img src="{{ STATIC_URL }}images/galpLegend/construction.png" /><br />
				    <img src="{{ STATIC_URL }}images/galpLegend/other.png" />-->
				    <img src="{{ STATIC_URL }}images/galapagosGraphs/legend.png" height="38px"/>
			<div class="graphSpace">
                        <img src="{{specificGalapagos.industry}}" />
			</div>
                    </div>
                {% endfor %}
            </div>
        </div> <!-- end split column row -->
              
           </div>
        </li>
          
          <li>

            <div class="title">
                <span class="iconSpace"><img src="{{STATIC_URL}}/images/pencil.png" height="38px" width="38px"/></span><span class="textHeadAccordion">Education</span>
            </div>
            <div class="content">
              <div class="textP">The United States (99%) and the Galapagos (98.7%) boast similarly high levels of literary and
	      low student-teacher ratios.  However, the numbers do not accurately paint the full picture of the education system
	      in the Galapagos.  Currently, there are only 20 educational institutions in the Galapagos serving roughly 5,200
	      primary and secondary students.  Many problems have plagued the education system on the islands, including a weak
	      teacher base, weak school infrastructure, and the absence of a voice in civil society addressing the educational
	      needs and coordinating progressive initiatives.  In this regard, the Galapagos is far behind the United States in
	      education and could gain from reforming its current system.</div>
              
        <!--split column for info display -->      
        <div class="row">
            <div class="six columns">
                
                <div id="state-name" class="textHeadLoc"></div>
                    <div class="textP">
                        <h4>Student/Teacher Ratio</h4>
                        <span id="state-teacher-image"></span>
                        <span id="state-student-image"></span>
			<div class ="textItems" id="state-student_teacher_text"></div>
                        <!--<div id="images"></div>-->
			
			<h4>Average Teacher Salary</h4>
			<span class ="textItems">$<span id="state-teacher_salary"></span></span>
			<h4>Literacy Rate</h4>
			<span class ="textItems"><span id="state-literacy_rate"></span>%</span>
                        
                        <!--<script>
                        // studentNum=(parseFloat('{{specificState.student_teacher_ratio}}'));
                        
                        // var studentImg=document.getElementById('images'),
                        //     imagePath = '{{ STATIC_URL }}images/greenPerson.png',
                        //     img;
                            
                        // for (var i=0; i<studentNum; i++){
                        //     img = new Image();
                        //     img.src = imagePath;
                        //     studentImg.appendChild(img);
                        //     //document.write(img);
                        // }
                        </script>-->
                        
                       
                    </div>
               
            </div>
            <div class="six columns">
                {% for specificGalapagos in galapagos %}
                <div class="textHeadLoc">{{specificGalapagos.name}}</div>
                    <div class="textP">
                        <h4>Student/Teacher Ratio</h4>
                        <div id="student_teacher_ratio">
                            <img src="{{specificGalapagos.teacher}}" width="80px"/><span style="font-size:48px;"></span> 
                            <span id="imagesB"></span>
			</div>    
			    <div class ="textItems">1:{{specificGalapagos.student_teacher_ratio}}</div>
                        
                        
                        <script>

                        studentNumB=(parseFloat('{{specificGalapagos.student_teacher_ratio}}'));
                        for (i=0; i<studentNumB; i++) {
                        $("#imagesB").append("<img src='{{ STATIC_URL }}images/greenPerson.png' width='25px' margin='0' padding='0' />")
                        };
                        // var studentImgB=document.getElementById('imagesB'),
                        //     imagePath = '{{ STATIC_URL }}images/greenPerson.png',
                        //     img;
                            
                        // for (var i=0;i<studentNumB; i++){
                        //     img = new Image();
                        //     img.src = imagePath;
                        //     studentImgB.appendChild(img);
                        //     //document.write(studentImg);
                        // }
                        </script>
                        
                        <h4>Average Teacher Salary</h4>
                        <span class ="textItems">${{specificGalapagos.teacher_salary}}</span>
                        <h4>Literacy Rate</h4>
                        <span class ="textItems">{{specificGalapagos.literacy_rate}}%</span>
                    </div>
                {% endfor %}
            </div>
        </div> <!-- end split column row -->
              
           </div>
        </li>
          
        <li>

            <div class="title">
                <span class="iconSpace"><img src="{{STATIC_URL}}/images/health.png" height="32px" width="38px"/></span><span class="textHeadAccordion">Health</span>
            </div>
            <div class="content">
              <div class="textP">Some of the largest discrepancies in the quality of life in the Galapagos and in the United States
	      stem from the disparities in the quality of health care.  Ecuador offers free public health care to its citizens, which
	      explains why the Galapagos allocates a much larger percentage of its budget to health care needs.  However, it is important to
	      note that while the states set aside a smaller portion of their budgets to health care, they spend significantly more on health
	      expenditures.  Accordingly, the United States boasts numerous doctors, advanced equipment, and clean facilities, while the Galapagos
	      lacks all three elements.  In a 2009-2010 report on the economic and social state of the Galapagos, researchers discovered:  
		<br /><br />
              "Most of those surveyed agreed that they do not trust doctors working in Galapagos, and that 'any illness more serious
	      than a cold should be treated on the mainland.' All agreed that health care in Galapagos is poor and more should be done
	      to attract doctors and specialists to the islands." (Villarreal & Grenier, p. 118)</div>
              
        <!--split column for info display -->      
        <div class="row">
            <div class="six columns">
              
                <div id="state-name" class="textHeadLoc"></div>
                    <div class="textP">
                        
                        <h4>Percent of Budget Allocated</h4>
			<span class ="textItems"><span id="state-health_budget"></span>%</span>
			<div class ="textItems" id="state-health_budget_text" ></div>
			
			<h4>Health Expenditure</h4>
			<span class ="textItems">$<span id="state-health_expenditure"></span> million</span>
                    </div>
                
            </div>
            <div class="six columns">
                {% for specificGalapagos in galapagos %}
                <div class="textHeadLoc">{{specificGalapagos.name}}</div>
                    <div class="textP">
                        <h4>Percent of Budget Allocated</h4>
                        <span class ="textItems">{{specificGalapagos.health_budget}}%</span>
                        <!--{{specificGalapagos.health_budget_text}}-->
			<div class ="textItems"><img src="{{specificGalapagos.health_expenditure_text}}" width="100%"/></div>
			
			<h4>Health Expenditure</h4>
			<span class ="textItems">${{specificGalapagos.health_expenditure}} million</span>
                    </div>
                {% endfor %}
            </div>
        </div> <!-- end split column row -->
              
           </div>
        </li>
            
</ul>

    </div>
</div>



                        
{% endblock %}
