{% extends "base.html" %}
{% load humanize %}
{% load url from future %}

{% block content %}

<div class="row">
	<div class="twelve columns">
		<!--<span id="top-cream-bar" >
			
		</span>-->
                
<div id="info-box">
    <div class="textHead">Galapagos Comparison</div>
    <div class="textPHead">Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
              volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
              suscipit senectus blandit facilisi, phasellus fringilla. Dictum, fringilla torquent litora. Nulla velit.
              Vel mus. Accumsan tincidunt molestie Ridiculus consectetuer lacinia fringilla lectus mattis at nisl fames Ad.
              Aenean fames ultricies malesuada duis.

              Neque facilisis malesuada placerat interdum. Pede tellus augue faucibus. Montes duis netus diam torquent aliquet
              nulla. Donec tortor pharetra consectetuer curae; ac ultricies sagittis sagittis duis dolor sapien parturient justo
              vehicula lacus conubia diam praesent fusce ridiculus ultrices accumsan primis condimentum magnis molestie proin
              facilisi euismod potenti, in dignissim dictum, nonummy pretium. Nisi ornare senectus nam ultricies mattis mauris mi.
              Mus. In. Dui porttitor mauris lectus laoreet aenean class semper phasellus adipiscing.
           </div>
    {{galapagos.student_teacher_ratio}}
</div>

<ul class="accordion">
    
        <li class="active">
            <div class="title">
                <span class="textHeadAccordion">Weather</span>
            </div>
            <div class="content">
              <div class="textP">Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
              volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
              suscipit senectus blandit facilisi, phasellus fringilla. Dictum, fringilla torquent litora. Nulla velit.
              Vel mus. Accumsan tincidunt molestie Ridiculus consectetuer lacinia fringilla lectus mattis at nisl fames Ad.
              Aenean fames ultricies malesuada duis.</div>
        
        <!--split column for info display -->      
        <div class="row">
            <div class="six columns">
                <div class="textHeadLoc">State</div>
                    <div class="textP">
                        Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
                        volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
                    </div>
            </div>
            <div class="six columns">
                <div class="textHeadLoc">Galapagos</div>
                    <div class="textP">
                        Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
                        volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
                    </div>
            </div>
        </div> <!-- end split column row -->
              
           </div>
        </li>
         <li>
            <div class="title">
                <span class="textHeadAccordion">Biodiversity</span>
            </div>
            <div class="content">
              <div class="textP">Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
              volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
              suscipit senectus blandit facilisi, phasellus fringilla. Dictum, fringilla torquent litora. Nulla velit.
              Vel mus. Accumsan tincidunt molestie Ridiculus consectetuer lacinia fringilla lectus mattis at nisl fames Ad.
              Aenean fames ultricies malesuada duis.</div>
              
        <!--split column for info display -->      
        <div class="row">
            <div class="six columns">
                <div class="textHeadLoc">State</div>
                    <div class="textP">
                        Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
                        volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
                    </div>
            </div>
            <div class="six columns">
                <div class="textHeadLoc">Galapagos</div>
                    <div class="textP">
                        Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
                        volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
                    </div>
            </div>
        </div> <!-- end split column row -->
              
           </div>
        </li>
          <li>

            <div class="title">
                <span class="textHeadAccordion">Economics</span>
            </div>
            <div class="content">
              <div class="textP">Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
              volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
              suscipit senectus blandit facilisi, phasellus fringilla. Dictum, fringilla torquent litora. Nulla velit.
              Vel mus. Accumsan tincidunt molestie Ridiculus consectetuer lacinia fringilla lectus mattis at nisl fames Ad.
              Aenean fames ultricies malesuada duis.</div>
              
        <!--split column for info display -->      
        <div class="row">
            <div class="six columns">
                <div class="textHeadLoc">State</div>
                    <div class="textP">
                        Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
                        volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
                    </div>
            </div>
            <div class="six columns">
                <div class="textHeadLoc">Galapagos</div>
                    <div class="textP">
                        Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
                        volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
                    </div>
            </div>
        </div> <!-- end split column row -->
              
           </div>
        </li>
          
          <li>

            <div class="title">
                <span class="textHeadAccordion">Education</span>
            </div>
            <div class="content">
              <div class="textP">Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
              volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
              suscipit senectus blandit facilisi, phasellus fringilla. Dictum, fringilla torquent litora. Nulla velit.
              Vel mus. Accumsan tincidunt molestie Ridiculus consectetuer lacinia fringilla lectus mattis at nisl fames Ad.
              Aenean fames ultricies malesuada duis.</div>
              
        <!--split column for info display -->      
        <div class="row">
            <div class="six columns">
                <div class="textHeadLoc">State</div>
                    <div class="textP">
                        Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
                        volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
                    </div>
            </div>
            <div class="six columns">
                <div class="textHeadLoc">Galapagos</div>
                    <div class="textP">
                        Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
                        volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
                    </div>
            </div>
        </div> <!-- end split column row -->
              
           </div>
        </li>
          
          <li>

            <div class="title">
                <span class="textHeadAccordion">Health</span>
            </div>
            <div class="content">
              <div class="textP">Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
              volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
              suscipit senectus blandit facilisi, phasellus fringilla. Dictum, fringilla torquent litora. Nulla velit.
              Vel mus. Accumsan tincidunt molestie Ridiculus consectetuer lacinia fringilla lectus mattis at nisl fames Ad.
              Aenean fames ultricies malesuada duis.</div>
              
        <!--split column for info display -->      
        <div class="row">
            <div class="six columns">
                <div class="textHeadLoc">State</div>
                    <div class="textP">
                        Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
                        volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
                    </div>
            </div>
            <div class="six columns">
                <div class="textHeadLoc">Galapagos</div>
                    <div class="textP">
                        Penatibus Porttitor. Hymenaeos ut urna. Posuere interdum adipiscing curabitur gravida
                        volutpat aptent vestibulum. Hendrerit hymenaeos suscipit. Iaculis enim aenean pellentesque rhoncus quisque
                    </div>
            </div>
        </div> <!-- end split column row -->
              
           </div>
        </li>
          
          <li>

            
        </li>
          
         </ul>

    </div>
</div>


{% endblock %}