<!DOCTYPE html>
    
{% load humanize %}
{% load url from future %}

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<title>Galapagos Comparison</title>
	
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/font_style.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css">
        
	<link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css">
	
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
       
        <!-- Included JS Files -->
        <script src="{{STATIC_URL}}js/modernizr.foundation1.js"></script>
	
        <script src="{{STATIC_URL}}js/jquery.foundation.accordion.js"></script>
        <!--<script src="{{ STATIC_URL }}js/jquery1.8.3.min.js"></script>-->
</head>    
        
<body>
	<div class="container"> <!-- container -->
		<div class="row hide-on-phones" id="header"> <!------------LOGO AND NAV------------>
			<div class="twelve columns phone-five">
				<ul id="header-ul">
					<li id="logo-li">
						<div class="logo-background"></div>
						<div class="logo"><a href="/{{language}}"><img src="{{ STATIC_URL }}images/logo.png"/></a></div>
					</li>
					<li id="top-nav-li">
						<ul class="topNav">
							<li><a href="http://livinggalapagos.org" target="blank">MAIN SITE</a></li>
							<li style="border:none;"><a href="#" data-reveal-id="myModal">SOURCES</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div> 
<!-- ////END LOGO AND NAV -->

		{% block content %} <!--get content from home.html-->

		{% endblock %}

<!--////FOOTER AREA////-->
		<div class="footer hide-on-tables hide-on-phones" id="footer">
			<div class="row">
				<div class="twelve columns">
					<div id="footer-logo">
						<img src="{{ STATIC_URL }}images/logo.png" width="250px" height="109px"/>
					</div>
					<div id="footer-links">
						<div class="footerNav hide-on-phones show-on-tablets">
							<ul>
								<li><a href="https://www.facebook.com/LivingGalapagos" target="blank">FACEBOOK</a></li>
								<li><a href="https://twitter.com/livinggalapagos" target="blank">TWITTER</a></li>
								<li><a href="http://livinggalapagos.org/en/about/" target="blank">ABOUT</a></li>
								<li style="border:none;"><a href="http://livinggalapagos.org/blog" target="blank">BLOG</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
<!--////END FOOTER AREA-->
		<div id="myModal" class="reveal-modal">
			<div class="textHeadLoc">Bibliography</div>
			<div class="textP">
				<ul>
					<li>Alaska Climate Research Center. (2012). The climate of Alaska for 2012. Retrieved from <a href="http://climate.gi.alaska.edu/Statewide/2012/annual.html">http://climate.gi.alaska.edu/Statewide/2012/annual.html</a>.</li> 
					<br />
					<li>CDP, GNP, and Governing Council of Galapagos. (2010). Galapagos Report 2009-2010. Puerto Ayora, Galapagos, Ecuador.</li>
					<br />
					<li>Charles Darwin Foundation. (2012). CDF meteorological database: Base de datos meterologico de la FCD. Retrieved from <ahref="http://www.darwinfoundation.org/datazone/climate/">http://www.darwinfoundation.org/datazone/climate/</a>.</li>
					<br />
					<li>Epler, B. (2007). Tourism, the economy and population growth and conservation in Galapagos. Charles Darwin Foundation Papers. Retrieved from <a href="http://www.darwinfoundation.org/english/_upload/Epler_Tourism_Report-en_5-08.pdf">http://www.darwinfoundation.org/english/_upload/Epler_Tourism_Report-en_5-08.pdf</a>.</li>
					<br />
					<li>Galapagos Conservancy. (2012). Biodiversity.  Retrieved from <a href="http://www.galapagos.org/about_galapagos/biodiversity/">http://www.galapagos.org/about_galapagos/biodiversity/</a>.</li>
					<br />
					<li>Instituto Nacional de Estadistica y Censos. (2010). Fasciculo provincial Galapagos. Retrieved from <a href="http://inec.gob.ec/cpv/descargables/fasciculos_provinciales/galapagos.pdf">http://inec.gob.ec/cpv/descargables/fasciculos_provinciales/galapagos.pdf</a>.</li>
					<br />
					<li>Lee, C, Beleacov, M., & Higgins, N. (2012). State government finances summary: 2011. Government Division Briefs. Retrieved from <a href="http://www2.census.gov/govs/state/11statesummaryreport.pdf">http://www2.census.gov/govs/state/11statesummaryreport.pdf</a>.</li>
					<br />
					<li>Liang, X. (1999). Teacher pay in 12 Latin American countries: How does teacher pay compare to other professions, what determines teacher pay, and who are the teachers? World Bank Human Development Department LCSHD Paper Series No. 49. Retrieved from <a href="http://www.thedialogue.org/PublicationFiles/Liang%2027-English.pdf">http://www.thedialogue.org/PublicationFiles/Liang%2027-English.pdf</a>.</li>
					<br />
					<li>Mendieta, M & Falconi, K. (2008). The current status of the educational system in Galapagos. Galapagos Report 2007-2008. Retrieved from <a href="http://www.galapagos.org/wp-content/uploads/2012/04/socio3-current-education-status.pdf">http://www.galapagos.org/wp-content/uploads/2012/04/socio3-current-education-status.pdf</a>.</li>
					<br />
					<li>National Center for Education Statistics. (2003). State and county estimates of low literacy. Retrieved from <a href="http://nces.ed.gov/naal/estimates/StateEstimates.aspx">http://nces.ed.gov/naal/estimates/StateEstimates.aspx</a>.</li>
					<br />
					<li>National Climate Data Center. (2013). Average relative humidity. Retrieved from <a href="http://www.ncdc.noaa.gov/oa/climate/online/ccd/avgrh.html">http://www.ncdc.noaa.gov/oa/climate/online/ccd/avgrh.html</a>.</li>
					<br />
					<li>National Climate Data Center. (2013). Climatological rankings.  Retrieved from <a href="http://www.ncdc.noaa.gov/temp-and-precip/ranks.php">http://www.ncdc.noaa.gov/temp-and-precip/ranks.php</a>.</li>
					<br />
					<li>National Education Association. (2011). Rankings & estimates: Rankings of the states 2011 and estimates of school statistics 2012. Retrieved from <a href="http://www.nea.org/assets/docs/NEA_Rankings_And_Estimates_FINAL_20120209.pdf">http://www.nea.org/assets/docs/NEA_Rankings_And_Estimates_FINAL_20120209.pdf</a>.</li>
					<br />
					<li>National Environmental Satellite, Data and Information Service. (2013).  Comparative climate data. Retrieved from <a href="http://ols.nndc.noaa.gov/plolstore/plsql/olstore.prodspecific?prodnum=C00095-PUB-A0001">http://ols.nndc.noaa.gov/plolstore/plsql/olstore.prodspecific?prodnum=C00095-PUB-A0001</a>.</li>
					<br />
					<li>Sevilla, R. (2008). An inconvenient truth and some uncomfortable decisions concerning tourism in Galapagos. Galapagos Research, 65.  Retrieved from <a href="http://datazone.darwinfoundation.org/media/pdf/65/GR_65_2008_Sevilla_Inconvenient_truth.pdf">http://datazone.darwinfoundation.org/media/pdf/65/GR_65_2008_Sevilla_Inconvenient_truth.pdf</a>.</li>
					<br />
					<li>The State of the Birds. (2012). The state of the birds. Retrieved from <a href="http://www.stateofthebirds.org/2009/habitats/">http://www.stateofthebirds.org/2009/habitats/</a>.</li>
					<br />
					<li>U.S. Census Bureau. (2012). Gross domestic product by state in current and real (2005) dollars by state.  Retrieved from <a href="http://www.census.gov/compendia/statab/cats/income_expenditures_poverty_wealth/gross_domestic_product_gdp.html">http://www.census.gov/compendia/statab/cats/income_expenditures_poverty_wealth/gross_domestic_product_gdp.html</a>.</li>
					<br />
					<li>U.S. Census Bureau. (2012). Health expenditures. Retrieved from <a href="http://www.census.gov/compendia/statab/cats/health_nutrition/health_expenditures.html">http://www.census.gov/compendia/statab/cats/health_nutrition/health_expenditures.html</a>.</li>
					<br />
					<li>U.S. Census Bureau. (2012). Income statistics. Retrieved from <a href="http://www.census.gov/hhes/www/income/data/statistics/">http://www.census.gov/hhes/www/income/data/statistics/"</a>.</li>
					<br />
					<li>U.S. Census Bureau. (2012). Elementary and secondary schools-teacher, enrollment and pupil-teacher ratio.  Retrieved from <a href="http://www.census.gov/compendia/statab/cats/education.html">http://www.census.gov/compendia/statab/cats/education.html</a>.</li>
					<br />
					<li>U.S. Department of Interior. (2012). Protected area data portal.  Retrieved from <a href="http://gis1.usgs.gov/csas/gap/viewer/padus/Map.aspx">http://gis1.usgs.gov/csas/gap/viewer/padus/Map.aspx</a>.</li>
				</ul>
			<a class="close-reveal-modal">&#215;</a>
			</div>
		</div> <!--close source modal-->
	</div> <!--close container-->
</body>

<script src="{{STATIC_URL}}js/foundation1.min.js"></script>

<!-- Initialize JS Plugins -->
<script src="{{STATIC_URL}}js/app.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$(".accordion").hide();	
});
    $(".selectState").change(function() {
    	$("#state-student-image").empty();
    	$(".accordion").show();
    	var selectedId = $('option:selected', this).attr('id');
    	if (selectedId === 'default') { selectedId = 1;	};
        $.ajax({
            url: '{{STATIC_URL}}js/states.json',
            dataType: 'json',
            success: function(data) {
            	var t = data[selectedId-1].fields;
            	var studentNum = parseInt(t.student_teacher_ratio);
            	$("[id^=state-name]").html(t.name);
            	$("#state-rainfall").html(t.rainfall);
				$("#state-protected_land_image").html("<img src=" +t.protected_land_image+ " height='240px' />");
				$("#state-protected-percentage").html(t.protected_land_percentage + "%");
				$("#state-birds_in_region").html(t.birds_in_region);
				$("#state-birds_in_region_text").html(t.birds_in_region_text);
				$("#state-temperature").html(t.temperature);
				$("#state-rainfall_text").html("<img src='" + t.rainfall_text + "' width='90px'/>");
				$("#state-humidity").html(t.humidity);
				$("#state-revenue").html(t.revenue);
				$("#state-income").html(t.income);
				$("#state-student_teacher_text").html(t.student_teacher_text);
				$("#state-teacher_salary").html(t.teacher_salary);
				$("#state-literacy_rate").html(t.literacy_rate);
				$("#state-health_budget").html(t.health_budget);
				$("#state-health_budget_text").html("<img src='" + t.health_budget_text + "' width='100%'/>");
				$("#state-health_expenditure").html(t.health_expenditure);
				$("#state-income_text").html("<img src='" + t.income_text + "' width='60px'/>");
				$("#state-industry").html("<img src='" + t.industry + "' />");
				$("#state-teacher-image").html("<img src='" + t.teacher + "' width='80px' />");
				for (i=0; i<studentNum; i++) {
					$("#state-student-image").append("<img src='{{ STATIC_URL }}images/greenPerson.png' width='25px' />")
					};
            },
            error: function() { console.log("failure to load json file") }
        });
    });
</script>

</html>
